.main {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background: #e1e1e1;
}

.contentContainer {
  margin: 20vh auto 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  width: fit-content;
}

.contentContainer__text,
.contentContainer__errorText {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 40px;
  letter-spacing: 0.5px;
  color: var(--default-90);
}

.contentContainer__errorText {
  position: absolute;
  bottom: 87px;
  left: -6px;
  font-size: 47px;
  color: var(--default-80);
}

.contentContainer__imageWrapper {
  margin: 0 auto;
  width: fit-content;
}

.contentContainer__imageWrapper img {
  width: 700px;
}

.contentContainer__title {
  text-align: center;
}

.contentContainer__homeLink {
  display: block;
  width: fit-content;
  margin: 70px auto 0 auto;
}

.filledBtnPr_300 {
  border: none;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-size: 24px;
  padding: 14px 120px;
  background: var(--primary-300);
  color: #ffffff;
  border-radius: 100px;
  transition: ease 0.2s;
  user-select: none;
}

.filledBtnPr_300:hover {
  cursor: pointer;
  background: var(--primary-400);
}

.filledBtnPr_300:active {
  background: var(--primary-100);
}

@media (719px < width < 1024px) {
  .contentContainer__imageWrapper img {
    width: 500px;
  }

  .contentContainer__text {
    font-size: 45px;
  }

  .contentContainer__errorText {
    font-size: 33px;
  }
}

@media (width < 720px) {
  .contentContainer__imageWrapper img {
    width: 300px;
  }

  .contentContainer__text {
    font-size: 28px;
  }

  .contentContainer__errorText {
    font-size: 19px;
    bottom: 85px;
    left: 7px;
  }
}
