.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #ffffff;
}

.searchInput {
  max-width: 500px;
  width: 100%;
}

/* Custom antd styles override */
.searchInput :global(.ant-input-search-button) {
  background-color: var(--primary-300);
  transition: background-color 0.3s ease;
}

.searchInput :global(.ant-input-search-button:hover) {
  background-color: var(--primary-400) !important;
}

.searchInput :global(.ant-input) {
  font-family: var(--font-electrolize);
}

@media (max-width: 768px) {
  .searchInput {
    max-width: 100%;
  }

  .searchContainer {
    padding: 1rem;
  }
}

.searchLoadingPlaceholder {
  max-width: 500px;
  width: 100%;
  height: 40px;
  background: var(--default-30);
  border-radius: 6px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}
